@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  font-family: "Poiret One", cursive;
  color: white;
  font-weight: bolder;
}

.header {
  font-size: 18px;
  font-weight: bold;
}
.header #navItem {
  margin-right: 40px;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.arrowDown {
  display: inline-block;
  width: 120px;
  margin-top: 50px;
}

.logoPc {
  width: 260px;
  margin-left: -10px;
  margin-right: 80px;
  margin-top: -65px;
}

.container00.container01 {
  background-image: linear-gradient(rgba(17, 17, 17, 0.123), rgb(20, 20, 20)), url(../images/Home.jpg);
  color: black;
}
.container00.container03 {
  background-image: linear-gradient(rgba(17, 17, 17, 0.123), rgb(20, 20, 20)), url(../images/berry-cheesecake.jpg);
}
.container00.container04 {
  background-image: linear-gradient(rgba(17, 17, 17, 0.123), rgb(20, 20, 20)), url(../images/WPPMELHORDOMUNDO.jpeg);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel-inner p {
  font-size: 1.4rem;
}

.titlePadding {
  padding: 200px;
}

.shortTitle {
  width: 650px;
  margin-bottom: -25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: -25px;
}

#button {
  padding: 15px 35px;
  border: 2px solid white;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copyOBC {
  color: #555252;
}

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: -40px;
  }
  .footer {
    font-size: 10px;
  }
}
.container00.carrosel01 {
  background: linear-gradient(rgba(20, 20, 20, 0.497), rgba(17, 17, 17, 0.853)), url(../images/c1.jpeg);
  background-size: cover;
  background-position: center;
}
.container00.carrosel02 {
  background: linear-gradient(rgba(20, 20, 20, 0.497), rgba(17, 17, 17, 0.853)), url(../images/c2.jpeg);
  background-size: cover;
  background-position: center;
}
.container00.carrosel03 {
  background: linear-gradient(rgba(20, 20, 20, 0.701), rgba(17, 17, 17, 0.578)), url(../images/c3.jpeg);
  background-size: cover;
  background-position: center;
}
.container00.container05 {
  background: linear-gradient(rgba(20, 20, 20, 0.497), rgba(17, 17, 17, 0.853)), url(../images/mlindo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.numbers {
  background-color: black;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .titleNumb {
  font-size: 90px;
}
.numbers .subtitlenumb {
  font-size: 35px;
}

.Eventdesc {
  font-size: 1.4rem;
  width: 640px;
  line-height: 50px;
}

.containerEventDesc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: -40px;
    margin-right: 10px;
  }
}
@media (max-width: 750px) {
  .container00 {
    background-position: center;
    background-size: cover;
  }
  .titlePadding {
    padding: 0px;
    margin-top: 300px;
  }
  .shortTitle,
.mediumTitle {
    width: auto;
    font-size: 50px;
  }
  .numbers {
    height: 23vh;
  }
  .numbers .titleNumb {
    font-size: 30px;
  }
  .numbers .subtitlenumb {
    font-size: 20px;
  }
  .containerEventDesc {
    display: flex;
  }
  .containerEventDesc .Eventdesc {
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  .logoPc {
    margin-right: 40px;
  }
}
@media (max-width: 768px) {
  .numbers .titleNumb {
    font-size: 28px;
  }
  .numbers .subTitleNumb {
    font-size: 18px;
  }
  .Eventdesc {
    font-size: 26px;
    box-sizing: border-box;
  }
  #overViewPosition {
    display: block;
    width: 500px;
    margin-left: 13%;
    padding-top: 20%;
  }
}
@media (max-width: 425px) {
  .container00.container01 {
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgb(20, 20, 20)), url(../images/mf.JPG);
  }
  .container00.container04 {
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgb(20, 20, 20)), url(../images/222612911_509749586764127_1530400258381655535_n.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .container00.container04 {
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgb(20, 20, 20)), url(../images/WPPMELHORDOMUNDO.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .container00.carrosel01 {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgb(20, 20, 20)), url(../images/c1.jpeg);
    background-size: cover;
    background-position: center;
  }
  .container00.carrosel02 {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgb(20, 20, 20)), url(../images/222612911_509749586764127_1530400258381655535_n.jpg);
    background-size: cover;
    background-position: center;
  }
  .container00.carrosel03 {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgb(20, 20, 20)), url(../images/286298265_417400243577957_6711187973562998314_n.jpg);
    background-size: cover;
    background-position: center;
  }
  .titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
  }
  .titlePadding {
    padding-top: 100px;
    margin: 0px;
  }
  .numbers {
    height: 40vh;
  }
  .numbers .titleNumb {
    font-size: 30px;
  }
  .numbers .subtitlenumb {
    font-size: 16px;
  }
  .containerEventDesc .Eventdesc {
    width: auto;
    font-size: 18px;
    line-height: 30px;
  }
  #overViewPosition {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: auto;
  }
  .titleOverView {
    font-size: 26px;
    font-weight: bold;
  }
  .subTitleOvewView {
    font-size: 20px;
    font-weight: 300;
  }
}

/*# sourceMappingURL=style.css.map */
